<div class="header">
    <div class="container">
        <ul class="navbar">
            <li class="navbar-item"><a href="" class="navbar-item-link navbar-item-link-a">Home</a></li>
            <li class="navbar-item"><a href="" class="navbar-item-link navbar-item-link-a">Contactanos</a></li>
            <li class="navbar-item">
                <ul class="social-net">
                    <li class="social-net-item"><a href="" class="navbar-item-link"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="social-net-item"><a href="" class="navbar-item-link"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="container-central">
        <div class="container-central-inner">
            <div class="logo"></div>
            <h1>Trade Imports</h1>
            <span>Sitio en Construccion</span>
            <h2>Contactanos</h2>
            <span class="span"><i class="fas fa-phone"></i>  612 121 0047</span>
            <br/>
            <br/>
            <span class="span"><i class="fas fa-envelope"></i>  info@tradeimports.mx</span>
        </div>
    </div>
</div>
